# Backend
backend_absensi/app/.env

# Frontend
frontend_absensi/node_modules/
frontend_absensi/.next/
frontend_absensi/.env

nasari_absensi_pwa/*

# General
.env
node_modules/
.next/
dist/
build/

# React Native / Expo